@page
@model DetailsModel
@{
    ViewData["Title"] = "Background task details";
}

<div class="row align-items-center">
    <div class="col-lg-12 mb-3">
        <a asp-page="/Administration/Created/BackgroundTasks/Delete" asp-route-ids="@Model.View.BackgroundTask.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.BackgroundTask.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.BackgroundTask.Id" class="form-control" readonly />
                <span asp-description-for="View.BackgroundTask.Id" class="text-muted small">The ID of the background task.</span>
                <span asp-validation-for="View.BackgroundTask.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.BackgroundTask.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.BackgroundTask.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.BackgroundTask.DateTimeCreated" class="text-muted small">The date and time when the background task was created.</span>
                <span asp-validation-for="View.BackgroundTask.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.BackgroundTask.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.BackgroundTask.Name" class="form-control" readonly />
                <span asp-description-for="View.BackgroundTask.Name" class="text-muted small">The name of the background task.</span>
                <span asp-validation-for="View.BackgroundTask.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.BackgroundTask.IsRecurring" class="font-weight-bold">Status</label>
                <input asp-for="View.BackgroundTask.IsRecurring" type="text" class="form-control" readonly />
                <span asp-description-for="View.BackgroundTask.IsRecurring" class="text-muted small">The recurring status of the background task.</span>
                <span asp-validation-for="View.BackgroundTask.IsRecurring" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.BackgroundTask.Data" class="font-weight-bold">Data</label>
                <textarea asp-for="View.BackgroundTask.Data" class="form-control" rows="5" readonly></textarea>
                <span asp-description-for="View.BackgroundTask.Data" class="text-muted small">The data of the background task.</span>
                <span asp-validation-for="View.BackgroundTask.Data" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
