@page
@model CreateModel
@{
    ViewData["Title"] = "Create user role";
}

<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-plus"></i></span>
            </div>
            <div>
                <span>Create</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
            <div class="form-group">
                <label asp-for="Input.UserString" class="font-weight-bold">User ID / e-mail</label>
                <input asp-for="Input.UserString" class="form-control" />
                <span asp-description-for="Input.UserString" class="text-muted small">The ID or e-mail of the user (case-sensitive).</span>
                <span asp-validation-for="Input.UserString" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoleString" class="font-weight-bold">Role ID / name</label>
                <input asp-for="Input.RoleString" class="form-control" />
                <span asp-description-for="Input.RoleString" class="text-muted small">The ID or name of the role (case-sensitive).</span>
                <span asp-validation-for="Input.RoleString" class="text-danger small"></span>
            </div>
            <button type="submit" class="btn btn-block btn-success" title="Create">
                <span>Create</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
