@{
    Layout = "/Pages/Content/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Edges/Index" class="breadcrumb-item"><span>Edges</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
