@{
    Layout = "/Pages/Administration/Data/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Data/DatabaseTypes/Index" class="breadcrumb-item"><span>Database types</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
