@page
@model HangfireModel
@{
    ViewData["Title"] = "Hangfire";
    ViewData["ActivePage"] = "Hangfire";
}

<div class="alert alert-primary text-justify text-wrap">
    <span><i class="fas fa-info-circle"></i></span>
    <span>This application uses Hangfire to manage the background tasks. You can access the corresponding dashboard by clicking on the button below.</span>
</div>
<form method="post" class="text-justify">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
    <button type="submit" title="Open Hangfire dashboard" class="btn btn-block btn-primary">
        <span>Open Hangfire dashboard</span>
    </button>
</form>
