@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
    ViewData["ActiveGroup"] = "Index";
    ViewData["ActivePage"] = "Index";
    var navigationTitleCard = new Helpers.ViewModels.NavigationTitleCardViewModel
    {
        Id = "User",
        Title = Model.View.User.Email,
        Subtitle = Model.View.User.Id,
        Icon = "fa-user"
    };
}

<partial name="_NavigationTitleCardPartial" model="@navigationTitleCard" />
<div class="card mb-3">
    <div class="card-body text-justify small">
        @if (Model.View.User.EmailConfirmed)
        {
            <span class="text-success" title="E-mail confirmed"><i class="fas fa-check-circle"></i></span>
        }
        else
        {
            <span class="text-danger" title="E-mail not confirmed"><i class="fas fa-times-circle"></i></span>
        }
        <span title="@Model.View.User.DateTimeCreated.ToString()">Account created on @Model.View.User.DateTimeCreated.ToString()</span>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-bullhorn"></i></span>
            </div>
            <div>
                <span>Announcements</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (string.IsNullOrEmpty(Model.View.AnnouncementMessage))
        {
            <div class="alert alert-success text-justify text-wrap mb-0">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There are no announcements that currently require your attention.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>@Model.View.AnnouncementMessage</span>
            </div>
        }
    </div>
</div>
