@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-left">
    <div class="mb-3">
        <div class="h4 mb-2">
            <span>About</span>
        </div>
        <div class="small text-muted">
            <span>Last updated: March 24th, 2020</span>
        </div>
    </div>
</div>
<div class="text-justify">
    <div class="mb-3">
        <div class="mb-1">
            <span>This page will provide details about the website.</span>
        </div>
    </div>
</div>
