@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-left mt-3">
    <div class="h4 mb-3">
        <span>About</span>
    </div>
</div>
<div class="text-justify figure-group">
    <div class="mb-3">
        <div class="mb-1">
            <span>This page provides several details about the web application.</span>
        </div>
    </div>
    <div class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Table of contents</span>
        </div>
        <ol class="">
            <li class="">
                <a href="#introduction">Introduction</a>
            </li>
            <li class="">
                <a href="#tutorial-ppi">Tutorial on PPI data</a>
            </li>
            <li class="">
                <a href="#tutorial-generic">Tutorial on generic data</a>
            </li>
            <li class="">
                <a href="#acknowledgements">Acknowledgements</a>
            </li>
        </ol>
    </div>
    <div id="introduction" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Introduction</span>
        </div>
        <div class="mb-1">
            <div class="mb-0">
                <span>NetControl4BioMed is a free open-source web-based application (the second version of the software described <a href="https://doi.org/10.1186/s12859-018-2177-3" target="_blank" rel="nofollow noopener noreferrer">here</a> <span><i class="fas fa-external-link-alt"></i></span>), aimed primarily at applications in biomedicine and allowing for:</span>
            </div>
            <ul class="mb-0">
                <li>
                    <span>User-driven data protein-protein interaction network generation.</span>
                </li>
                <li>
                    <span>Network controllability analysis focused on highly personalized drug-repurposing and drug-therapy suggestions.</span>
                </li>
                <li>
                    <span>Cloud-based solution facilitating collaboration between users.</span>
                </li>
            </ul>
        </div>
        <div class="mb-1">
            <span>The new version offers greatly improved performance, allowing for the processing of larger networks, it expands on the datasets available to build and analyze the protein-protein interaction networks, and it offers support for collaboration through sharing networks and analyses.</span>
        </div>
    </div>
    <div id="tutorial-ppi" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Tutorial on PPI data</span>
        </div>
        <div class="mb-1">
            <span>This is a short tutorial to get started with constructing a PPI (protein-protein interaction) network and analyzing it. In this tutorial, as a study case, we will construct a PPI network around the proteins of importance to the breast cancer cell-line HCC1500 (namely, the proteins corresponding to the mutated and the essential genes in the cell-line), which we will then analyze by identifying drug-targetable controlling proteins and their control paths to the proteins corresponding to the essential genes. Unlike in the case of generic networks, here you will need to provide a list of seed proteins, around which the application will generate the actual network. In order to upload it, you need to provide a list of edges in the network. The steps are mostly similar to the ones described above, however some additional input will be required, such as the databases in which to look up the interactions. From the main <a asp-page="/Content/Index" target="_blank" rel="nofollow noopener noreferrer">content page</a> you can navigate to the <a asp-page="/Content/DatabaseTypes/PPI/Index" target="_blank" rel="nofollow noopener noreferrer">PPI area</a> of the application.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-area.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Navigating to the PPI area.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>You can start the creation process network by navigating to the <a asp-page="/Content/DatabaseTypes/PPI/Created/Networks/Index" target="_blank" rel="nofollow noopener noreferrer">PPI networks</a> overview page. You can load one of the available samples (including the one used in this tutorial) using the corresponding button on the network creation page.</span>
        </div>
        <div class="mb-1">
            <span>You first need to assign a name to the network. It does not need to be unique, as a unique identifier will be assigned to it upon creation, but it's recommended to give each network a name that represents it. Furthermore, you can also add a fitting description, although it is not required.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-details.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the details for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>If you are logged in, you have the possibility to make the network private (meaning that only you and the people you manually assign to it will have access to it) or public (anyone with its link or unique identifier, can access it). Unregistered users can only create public networks.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-availability.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Setting the availability for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The main input that is required for a PPI network is the list of seed proteins (which are, in this case, protein identifiers) around which to build the network. Two consecutive proteins should be separated by a "line separator" (by default, "new line"). The separator can be configured, and the number of provided proteins will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-seed-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the seed data for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Additionally (or as an alternative to providing them manually), you can also specify the ID of one or more protein collections (namely, containing cell-line or drug-target data) whose corresponding proteins will be used as additional seed proteins.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-seed-node-collection-data-list.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing from the available additional seed data for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-seed-node-collection-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the additional seed data for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>You also need to choose the databases to be used. The protein identifiers (for example, "EGFR" or "ENSG00000146648") that you will provide will be looked up in the specified protein databases (for example, for the two provided identifiers to be found, you would need to specify the IDs of the "HGNC" and "Ensembl" databases). If you are not sure, you can just input the IDs of all of the available databases, although this will increase the time it takes to generate the network. The available databases can be found <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Index" asp-route-filter="HasDatabaseNodes" target="_blank" rel="nofollow noopener noreferrer">here</a>.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-node-database-data-list.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing from the available protein databases for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-node-database-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the protein databases for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once the corresponding proteins will have been found, the interactions between them will be looked up in the specified interaction databases (one interaction may appear in one or more of the databases). The available databases can be found <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Index" asp-route-filter="HasDatabaseEdges" target="_blank" rel="nofollow noopener noreferrer">here</a>.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-edge-database-data-list.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing from the available interaction databases for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-edge-database-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the interaction databases for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <div class="mb-0">
                <span>The actual interactions which will be included in the network depend on the chosen generation algorithm:</span>
            </div>
            <ul class="mb-0">
                <li class="">
                    <span><span class="font-italic">Neighbors</span>, which considers all of the interactions containing the provided seed proteins.</span>
                </li>
                <li class="">
                    <span><span class="font-italic">Gap X</span>, which considers all of the interactions between the provided seed proteins, with X or less intermediary proteins. A value of zero will only take into account the interactions between the provided seed proteins.</span>
                </li>
            </ul>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-algorithm.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing the algorithm for the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once all of the inputs have been successfully filled in, you can click the "Create" button.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-create.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Submitting the data to create the PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>An error will immediately be returned if any of the provided data is missing and you will be prompted to change the corresponding inputs. Otherwise, the network will be defined and you will be redirected to its corresponding page. The next step is the actual network generation, which will be performed automatically in the background.</span>
        </div>
        <div class="mb-1">
            <span>You can check the current status of the network at all times. If an error occurs during the generation, it will be shown in the message log, at the bottom of the page. Otherwise, the network was successfully generated and can now be checked, shared and used in analyses!</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-network-status.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking the completed PPI network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The completed network can be downloaded in a variety of formats for offline processing and visualization (for example, using <a href="https://cytoscape.org/" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span class=""><i class="fas fa-external-link-alt"></i></span>). Additionally, if the network is relatively small (for performance reasons, under @NetControl4BioMed.Helpers.Extensions.NetworkExtensions.MaximumSizeForVisualization proteins), it can also be visualized in the browser. However, this can quickly become overwhelming even for smaller networks.</span>
        </div>
        <div class="mb-1">
            <span>Please note that creating a network (or having access to one) is required in order to create an analysis!</span>
        </div>
        <div class="mb-1">
            <span>Once a network has been generated, you can start its analysis by navigating to the <a asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Index" target="_blank" rel="nofollow noopener noreferrer">Analyses</a> overview page. You can load one of the available samples (including the one used in this tutorial) using the corresponding button on the network creation page. The control analysis uses the greedy algorithm described <a href="https://doi.org/10.1109/TCBB.2018.2797271" target="_blank" rel="nofollow noopener noreferrer">here</a> <span class=""><i class="fas fa-external-link-alt"></i></span> or the genetic algorithm described <a href="https://arxiv.org/abs/2007.04853" target="_blank" rel="nofollow noopener noreferrer">here</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>Similar as for a network, you first need to assign a name to the analysis. It does not need to be unique, as a unique identifier will be assigned to it upon creation, but it's recommended to give each analysis a name that represents it. Furthermore, you can also add a fitting description, although it is not required.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-details.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the details for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>If you are logged in, you have the possibility to make the analysis private (meaning that only you and the people you manually assign to it will have access to it) or public (anyone with its link or unique identifier, can access it). Unregistered users can only create public analyses.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-availability.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Setting the availability for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>First, you need to provide the unique identifiers of the networks which will be used by the analysis. If more than one network is provided, then a combined network will be generated, containing every interaction of each network. You need to have access to the specified networks, in order to use them in an analysis. In this particular case, you should use the ID of the freshly constructed PPI network.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-network-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the network data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Optionally, you can provide a set of source proteins to be used by the analysis. The source proteins represent proteins which are more likely to be chosen as controlling proteins. Two consecutive proteins should be separated by a "line separator" (by default, "new line"). The separator can be configured, and the number of provided proteins will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-source-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the source data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Additionally (or as an alternative to providing them manually), you can also specify the ID of one or more protein collections (namely, containing drug-target data) whose corresponding proteins will be used as additional source proteins.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-source-node-collection-data-list.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing from the available additional source data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-source-node-collection-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the additional source data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The actual way in which the provided source proteins will influence the analysis can be configured within the algorithm parameters. All source proteins that can not be found in the combined network will be ignored.</span>
        </div>
        <div class="mb-1">
            <span>Next, you need to provide the set of target proteins to be used by the analysis. The target proteins represent the proteins which you want to control (for example, disease-specific essential proteins). Two consecutive proteins should be separated by a "line separator" (by default, "new line"). The separator can be configured, and the number of provided proteins will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-target-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the target data for the analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Additionally (or as an alternative to providing them manually), you can also specify the ID of one or more protein collections (namely, containing cell-line data) whose corresponding proteins will be used as additional target proteins.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-target-node-collection-data-list.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Choosing from the available additional target data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-target-node-collection-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the additional target data for the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>All target proteins that can not be found in the combined network will be ignored.</span>
        </div>
        <div class="mb-1">
            <span>Lastly, the required parameters change depending on the type of the algorithm. The details of each parameter are provided on the analysis creation page.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-parameters.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the parameters for the PPI analysis algorithm.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once all of the inputs have been successfully filled in, you can click the "Create" button.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-create.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Submitting the data to create the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>An error will immediately be returned if any of the provided data is missing and you will be prompted to change the corresponding inputs. Otherwise, the analysis will be defined and you will be redirected to its corresponding page. The next step is the generation of the combined network corresponding to the analysis, which will be performed automatically in the background.</span>
        </div>
        <div class="mb-1">
            <span>You can check the current status of the analysis at all times. If an error occurs during its generation or its run, it will be shown in the message log, at the bottom of the page. Otherwise, the analysis was successfully generated and will be automatically started. You can track its progress on the corresponding page, and stop it at any time. Once the analysis has ended, its output can be viewed, checked and shared!</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-status.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking the completed PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The completed analysis and its output can be downloaded in a variety of formats for offline processing and visualization (for example, using <a href="https://cytoscape.org/" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span class=""><i class="fas fa-external-link-alt"></i></span>). Additionally, if its corresponding network is relatively small (for performance reasons, under @NetControl4BioMed.Helpers.Extensions.AnalysisExtensions.MaximumSizeForVisualization proteins), it can also be visualized in the browser. However, this can quickly become overwhelming even for smaller networks.</span>
        </div>
        <div class="mb-1">
            <span>As output, the analysis returns one or more sets of controlling proteins which are able to control all of the provided target proteins. These controlling sets can be separately inspected, visualized and downloaded.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/ppi-analysis-control-path.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking a control path returned by the PPI analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Furthermore, you can view more details about each of the controlling proteins (or about each of the proteins in the control path). For example, you can check the data of the returned protein which controls the most target proteins, to see if there already exists a drug targeting it.</span>
        </div>
    </div>
    <div id="tutorial-generic" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Tutorial on generic data</span>
        </div>
        <div class="mb-1">
            <span>This is a short tutorial to get started with uploading a generic network and analyzing it. A generic network represents a network of no specific type. In this tutorial, we will upload and analyze a small randomly-generated generic network. In order to upload it, you need to provide a list of edges in the network. From the main <a asp-page="/Content/Index" target="_blank" rel="nofollow noopener noreferrer">content page</a> you can navigate to the <a asp-page="/Content/DatabaseTypes/Generic/Index" target="_blank" rel="nofollow noopener noreferrer">generic area</a> of the application.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-area.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Navigating to the generic area.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>You can start the creation process network by navigating to the <a asp-page="/Content/DatabaseTypes/Generic/Created/Networks/Index" target="_blank" rel="nofollow noopener noreferrer">generic networks</a> overview page. You can load one of the available samples (including the one used in this tutorial) using the corresponding button on the network creation page.</span>
        </div>
        <div class="mb-1">
            <span>You first need to assign a name to the network. It does not need to be unique, as a unique identifier will be assigned to it upon creation, but it's recommended to give each network a name that represents it. Furthermore, you can also add a fitting description, although it is not required.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-details.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the details for the generic network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>If you are logged in, you have the possibility to make the network private (meaning that only you and the people you manually assign to it will have access to it) or public (anyone with its link or unique identifier, can access it). Unregistered users can only create public networks.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-availability.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Setting the availability for the generic network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The only input that is required for a generic network is the list of edges. Each edge should contain exactly two nodes, separated by an "in-line separator" (by default, ";"). Two consecutive edges should be separated by a "line separator" (by default, "new line"). Both separators can be configured, and the number of provided edges will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-seed-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the seed data for the generic network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once all of the inputs have been successfully filled in, you can click the "Create" button.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-create.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Submitting the data to create the generic network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>An error will immediately be returned if any of the provided data is missing and you will be prompted to change the corresponding inputs. Otherwise, the network will be defined and you will be redirected to its corresponding page. The next step is the actual network generation, which will be performed automatically in the background.</span>
        </div>
        <div class="mb-1">
            <span>You can check the current status of the network at all times. If an error occurs during the generation, it will be shown in the message log, at the bottom of the page. Otherwise, the network was successfully generated and can now be checked, shared and used in analyses!</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-status.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking the completed generic network.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The completed network can be downloaded in a variety of formats for offline processing and visualization (for example, using <a href="https://cytoscape.org/" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span class=""><i class="fas fa-external-link-alt"></i></span>). Additionally, if the network is relatively small (for performance reasons, under @NetControl4BioMed.Helpers.Extensions.NetworkExtensions.MaximumSizeForVisualization nodes), it can also be visualized in the browser. However, this can quickly become overwhelming even for smaller networks.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-network-visualization.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Visualizing the generic network in-browser.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once the network is ready, you can move on to analyzing it. Please note that creating a network (or having access to one) is required in order to create an analysis!</span>
        </div>
        <div class="mb-1">
            <span>Please note that creating a network (or having access to one) is required in order to create an analysis!</span>
        </div>
        <div class="mb-1">
            <span>Once a network has been generated, you can start its analysis by navigating to the <a asp-page="/Content/DatabaseTypes/Generic/Created/Analyses/Index" target="_blank" rel="nofollow noopener noreferrer">Analyses</a> overview page. You can load one of the available samples (including the one used in this tutorial) using the corresponding button on the analysis creation page. The control analysis uses the greedy algorithm described <a href="https://doi.org/10.1109/TCBB.2018.2797271" target="_blank" rel="nofollow noopener noreferrer">here</a> <span class=""><i class="fas fa-external-link-alt"></i></span> or the genetic algorithm described <a href="https://arxiv.org/abs/2007.04853" target="_blank" rel="nofollow noopener noreferrer">here</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>Similar as for a network, you first need to assign a name to the analysis. It does not need to be unique, as a unique identifier will be assigned to it upon creation, but it's recommended to give each analysis a name that represents it. Furthermore, you can also add a fitting description, although it is not required.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-details.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the details for the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>If you are logged in, you have the possibility to make the analysis private (meaning that only you and the people you manually assign to it will have access to it) or public (anyone with its link or unique identifier, can access it). Unregistered users can only create public analyses.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-availability.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Setting the availability for the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>First, you need to provide the unique identifiers of the networks which will be used by the analysis. If more than one network is provided, then a combined network will be generated, containing every interaction of each network (however, in the case of generic networks, each is a separate entity, so the combined network will just contain separate connected components). You need to have access to the specified networks, in order to use them in an analysis. In this particular case, you should use the ID of the freshly constructed generic network.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-network-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the network data for the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Optionally, you can provide a set of source nodes to be used by the analysis. The source nodes represent nodes which are more likely to be chosen as controlling nodes. Two consecutive nodes should be separated by a "line separator" (by default, "new line"). The separator can be configured, and the number of provided nodes will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-source-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the source data for the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The actual way in which the provided source nodes will influence the analysis can be configured within the algorithm parameters. All source nodes that can not be found in the combined network will be ignored.</span>
        </div>
        <div class="mb-1">
            <span>Next, you need to provide the set of target nodes to be used by the analysis. The target proteins represent the nodes which you want to control. Two consecutive nodes should be separated by a "line separator" (by default, "new line"). The separator can be configured, and the number of provided nodes will be updated automatically as you type.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-target-data.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the target data for the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>All target nodes that can not be found in the combined network will be ignored.</span>
        </div>
        <div class="mb-1">
            <span>Lastly, the required parameters change depending on the type of the algorithm. The details of each parameter are provided on the analysis creation page.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-parameters.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Inputting the parameters for the generic analysis algorithm.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>Once all of the inputs have been successfully filled in, you can click the "Create" button.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-create.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Submitting the data to create the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>An error will immediately be returned if any of the provided data is missing and you will be prompted to change the corresponding inputs. Otherwise, the analysis will be defined and you will be redirected to its corresponding page. The next step is the generation of the combined network corresponding to the analysis, which will be performed automatically in the background.</span>
        </div>
        <div class="mb-1">
            <span>You can check the current status of the analysis at all times. If an error occurs during its generation or its run, it will be shown in the message log, at the bottom of the page. Otherwise, the analysis was successfully generated and will be automatically started. You can track its progress on the corresponding page, and stop it at any time. Once the analysis has ended, its output can be viewed, checked and shared!</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-status.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking the completed generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>The completed analysis and its output can be downloaded in a variety of formats for offline processing and visualization (for example, using <a href="https://cytoscape.org/" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span class=""><i class="fas fa-external-link-alt"></i></span>). Additionally, if its corresponding network is relatively small (for performance reasons, under @NetControl4BioMed.Helpers.Extensions.AnalysisExtensions.MaximumSizeForVisualization nodes), it can also be visualized in the browser. However, this can quickly become overwhelming even for smaller networks.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-visualization.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Visualizing the generic analysis in-browser.</figcaption>
            </figure>
        </div>
        <div class="mb-1">
            <span>As output, the analysis returns one or more sets of controlling nodes which are able to control all of the provided target nodes. These controlling sets can be separately inspected, visualized and downloaded.</span>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-control-path.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Checking a control path returned by the generic analysis.</figcaption>
            </figure>
        </div>
        <div class="mb-1 text-center">
            <figure class="figure">
                <img src="~/img/screenshots/generic-analysis-control-path-visualization.png" class="figure-img border p-2 m-2 rounded" />
                <figcaption class="figure-caption">Visualizing a control path returned by the generic analysis.</figcaption>
            </figure>
        </div>
    </div>
    <div id="acknowledgements" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Acknowledgements</span>
        </div>
        <div class="mb-1">
            <span>The logo was created by <a href="https://smashicons.com/" target="_blank" rel="nofollow noopener noreferrer">SmashIcons</a> <span class=""><i class="fas fa-external-link-alt"></i></span>, downloaded from <a href="https://www.flaticon.com/" target="_blank" rel="nofollow noopener noreferrer">FlatIcon</a> <span class=""><i class="fas fa-external-link-alt"></i></span>, and formatted using <a href="https://realfavicongenerator.net/" target="_blank" rel="nofollow noopener noreferrer">Real FavIcon Generator</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The icons used throughout the application were created by <a href="https://fontawesome.com/" target="_blank" rel="nofollow noopener noreferrer">FontAwesome</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The entire front-end works and looks as it does thanks to <a href="https://jquery.com/" target="_blank" rel="nofollow noopener noreferrer">JQuery</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://getbootstrap.com/" target="_blank" rel="nofollow noopener noreferrer">Bootstrap</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The client-side validation is performed using <a href="https://jqueryvalidation.org/" target="_blank" rel="nofollow noopener noreferrer">JQuery Validation</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://bradwilson.typepad.com/blog/2010/10/mvc3-unobtrusive-validation.html" target="_blank" rel="nofollow noopener noreferrer">JQuery Validation Unobtrusive</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The graphs are drawn and styled using <a href="https://js.cytoscape.org/" target="_blank" rel="nofollow noopener noreferrer">CytoscapeJS</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The tables are partly formatted using <a href="https://datatables.net/" target="_blank" rel="nofollow noopener noreferrer">DataTables</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The QR code for two-factor authentication is generated using <a href="https://github.com/jeromeetienne/jquery-qrcode" target="_blank" rel="nofollow noopener noreferrer">JQuery QR Code</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The background tasks are managed with the help of <a href="https://www.hangfire.io/" target="_blank" rel="nofollow noopener noreferrer">Hangfire</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The behind-the-scenes matrix operations are handled using <a href="https://numerics.mathdotnet.com/" target="_blank" rel="nofollow noopener noreferrer">MathNET Numerics</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The download of data is made possible also using <a href="https://github.com/OfficeDev/Open-XML-SDK" target="_blank" rel="nofollow noopener noreferrer">Open XML</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The e-mail sending service is provided by <a href="https://sendgrid.com/" target="_blank" rel="nofollow noopener noreferrer">SendGrid</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
    </div>
</div>
