@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-left mt-3">
    <div class="mb-3">
        <div class="h4 mb-2">
            <span>About</span>
        </div>
        <div class="small text-muted">
            <span>Last updated: March 24th, 2020</span>
        </div>
    </div>
</div>
<div class="text-justify">
    <div class="mb-3">
        <div class="mb-1">
            <span>This page provides several details about the web application.</span>
        </div>
    </div>
    <div class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Table of contents</span>
        </div>
        <ol class="">
            <li class="">
                <a href="#introduction">Introduction</a>
            </li>
            <li class="">
                <a href="#acknowledgements">Acknowledgements</a>
            </li>
        </ol>
    </div>
    <div id="introduction" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Introduction</span>
        </div>
        <div class="mb-1">
            <span><a asp-page="/Index">NetControl4BioMed</a> is a web application which aims to solve the network target controllability problem.</span>
        </div>
        <div class="mb-1">
            <span>It was created using <a href="https://dotnet.microsoft.com/" target="_blank">.NET Core</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
    </div>
    <div id="acknowledgements" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Acknowledgements</span>
        </div>
        <div class="mb-1">
            <span>The logo was created by <a href="https://smashicons.com/" target="_blank">SmashIcons</a> <span class=""><i class="fas fa-external-link-alt"></i></span>, downloaded from <a href="https://www.flaticon.com/" target="_blank">FlatIcon</a> <span class=""><i class="fas fa-external-link-alt"></i></span>, and formatted using <a href="https://realfavicongenerator.net/" target="_blank">Real FavIcon Generator</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The Åbo Akademi logo is a property of <a href="https://www.abo.fi/" target="_blank">Åbo Akademi</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The TUCS logo is a property of <a href="https://tucs.fi/" target="_blank">Turku Center for Computer Science</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The icons used throughout the application were created by <a href="https://fontawesome.com/" target="_blank">FontAwesome</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The entire front-end works and looks as it does thanks to <a href="https://jquery.com/" target="_blank">JQuery</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The client-side validation is performed using <a href="https://jqueryvalidation.org/" target="_blank">JQuery Validation</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://bradwilson.typepad.com/blog/2010/10/mvc3-unobtrusive-validation.html" target="_blank">JQuery Validation Unobtrusive</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The graphs are drawn and styled using <a href="https://js.cytoscape.org/" target="_blank">CytoscapeJS</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The tables are partly formatted using <a href="https://datatables.net/" target="_blank">DataTables</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The QR code for two-factor authentication is generated using <a href="https://github.com/jeromeetienne/jquery-qrcode" target="_blank">JQuery QR Code</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The background tasks are managed with the help of <a href="https://www.hangfire.io/" target="_blank">Hangfire</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The behind-the-scenes matrix operations are handled using <a href="https://numerics.mathdotnet.com/" target="_blank">MathNET Numerics</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The download of data is made possible also using <a href="https://github.com/OfficeDev/Open-XML-SDK" target="_blank">Open XML</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
        <div class="mb-1">
            <span>The e-mail sending service is provided by <a href="https://sendgrid.com/" target="_blank">SendGrid</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
        </div>
    </div>
</div>
