@page
@model TermsOfServiceModel
@{
    ViewData["Title"] = "Terms of service";
}

<div class="text-left mt-3">
    <div class="h4 mb-3">
        <span>Terms of service</span>
    </div>
</div>
<div class="text-justify">
    <div class="mb-3">
        <div class="mb-1">
            <span>Please read these Terms of Service (further referred to as <span class="font-italic">terms</span>) carefully before using the <a asp-page="/Index">NetControl4BioMed web application</a> (further referrred to as <span class="font-italic">service</span>) operated by <span class="font-italic">COMBIO</span> (further referred to as <span class="font-italic">us</span>, <span class="font-italic">we</span>, or <span class="font-italic">our</span>).</span>
        </div>
        <div class="mb-1">
            <span>Your access to and use of the service is conditioned by your acceptance of and compliance with these terms. The terms apply to all visitors, users and others who access or use our service.</span>
        </div>
        <div class="mb-1">
            <span>By accessing or using our service you agree to be bound by these terms. If you disagree with any part of them, then you may not access the service.</span>
        </div>
    </div>
    <div class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Table of contents</span>
        </div>
        <ol class="">
            <li class="">
                <a href="#accounts">Accounts</a>
            </li>
            <li class="">
                <a href="#links-to-other-websites">Links to other websites</a>
            </li>
            <li class="">
                <a href="#termination">Termination</a>
            </li>
            <li class="">
                <a href="#governing-laws">Governing laws</a>
            </li>
            <li class="">
                <a href="#changes-to-the-terms-of-service">Changes to the Terms of Service</a>
            </li>
            <li class="">
                <a href="#contact">Contact</a>
            </li>
        </ol>
    </div>
    <div id="accounts" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Accounts</span>
        </div>
        <div class="mb-1">
            <span>When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the terms and may result in immediate termination of your account on our service.</span>
        </div>
        <div class="mb-1">
            <span>You are responsible for safeguarding the password that you use to access our service and for any activities or actions under your password, whether your password is with our service or a third-party service.</span>
        </div>
        <div class="mb-1">
            <span>You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</span>
        </div>
    </div>
    <div id="links-to-other-websites" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Links to other websites</span>
        </div>
        <div class="mb-1">
            <span>During the use of our service you may find links to other websites that are not operated by us. If you click on a third party link, you will be directed to that third party's website. We strongly recommend that you review the Terms of Service of every website that you visit.</span>
        </div>
        <div class="mb-1">
            <span>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party websites or services.</span>
        </div>
    </div>
    <div id="termination" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Termination</span>
        </div>
        <div class="mb-1">
            <span>We may terminate or suspend your account or access to our service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the terms.</span>
        </div>
        <div class="mb-1">
            <div class="mb-0">
                <span>All provisions of the terms which by their nature should survive termination shall survive termination, including, but not limited to:</span>
            </div>
            <ul class="mb-0">
                <li class="">
                    <span>Ownership provisions</span>
                </li>
                <li class="">
                    <span>Warranty disclaimers</span>
                </li>
                <li class="">
                    <span>Indemnity and limitations of liability</span>
                </li>
            </ul>
        </div>
        <div class="mb-1">
            <span>Upon termination, your right to use the service will immediately cease. If you wish to terminate your account, you may do so within the web application, on the <a href="/Account/Manage/PersonalData/Delete">corresponding page</a>, or you may simply discontinue using the service.</span>
        </div>
    </div>
    <div id="governing-laws" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Governing laws</span>
        </div>
        <div class="mb-1">
            <span>These terms shall be governed and construed in accordance with the laws of Finland, without regard to its conflict of law provisions.</span>
        </div>
        <div class="mb-1">
            <span>Our failure to enforce any right or provision of these terms will not be considered a waiver of those rights. If any provision of these terms is held to be invalid or unenforceable by a court, the remaining provisions of these terms will remain in effect. These terms constitute the entire agreement between us regarding our service, and supersede or replace any prior agreements we might have had regarding it.</span>
        </div>
    </div>
    <div id="changes-to-the-terms-of-service" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Changes to the Terms of Service</span>
        </div>
        <div class="mb-1">
            <span>We reserve the right, at our sole discretion, to modify or replace these terms at any time. If a revision is material, we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</span>
        </div>
        <div class="mb-1">
            <span> By continuing to access or use our service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the service and / or terminate your account.</span>
        </div>
    </div>
    <div id="contact" class="mb-3">
        <div class="font-weight-bold mb-2">
            <span>Contact</span>
        </div>
        <div class="mb-1">
            <span>If you have any questions about these Terms of Service, please use the form on our <a asp-page="/Contact">Contact page</a> in order to contact us.</span>
        </div>
    </div>
</div>
