@page
@model TermsOfServiceModel
@{
    ViewData["Title"] = "Terms of service";
    var navigationBanner = new Helpers.ViewModels.NavigationBannerViewModel
    {
        Id = "TermsOfService",
        Title = "Terms of service",
        Icon = "fa-file-alt",
        Color = "secondary"
    };
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                        <div>
                            <span><i class="fas fa-file-alt"></i></span>
                        </div>
                        <div>
                            <span>Privacy policy</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="text-justify">
                            <span>This page will provide the terms of service for the website.</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-end">
                        <div class="small">
                            <span>Last updated: February 3rd, 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
