@{
    Layout = "/Pages/Content/Created/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Created/Analyses/Index" class="breadcrumb-item"><span>Analyses</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
