@model NetworkNodeCollectionType
@using NetControl4BioMed.Data.Enumerations
@using Helpers.Extensions

<div class="text-uppercase">
    @switch (Model)
    {
        case NetworkNodeCollectionType.Seed:
            <span style="color: tomato;"><i class="fas fa-folder"></i></span>
            break;
        default:
            break;
    }
    <span title="@Model.GetDisplayDescription()">@Model.GetDisplayName()</span>
</div>
