@model NetworkDatabaseType
@using NetControl4BioMed.Data.Enumerations
@using Helpers.Extensions

<div class="text-uppercase">
    @switch (Model)
    {
        case NetworkDatabaseType.Node:
            <span style="color: lightgray;"><i class="fas fa-circle"></i></span>
            break;
        case NetworkDatabaseType.Edge:
            <span style="color: lightgray;"><i class="fas fa-arrow-right"></i></span>
            break;
        default:
            break;
    }
    <span title="@Model.GetDisplayDescription()">@Model.GetDisplayName()</span>
</div>
