@model SampleType
@using NetControl4BioMed.Data.Enumerations
@using Helpers.Extensions

<div class="text-uppercase">
    @switch (Model)
    {
        case SampleType.SeedNodes:
            <span style="color: tomato;"><i class="fas fa-circle"></i></span>
            break;
        case SampleType.SeedEdges:
            <span style="color: tomato;"><i class="fas fa-arrow-right"></i></span>
            break;
        case SampleType.SourceNodes:
            <span style="color: lightpink;"><i class="fas fa-circle"></i></span>
            break;
        case SampleType.TargetNodes:
            <span style="color: cornflowerblue;"><i class="fas fa-circle"></i></span>
            break;
        default:
            break;
    }
    <span title="@Model.GetDisplayDescription()">@Model.GetDisplayName()</span>
</div>
