@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="cookie-consent-alert alert alert-info fade show">
        <div class="container">
            <div>
                <span>This website uses cookies to keep you logged in between sessions, and nothing more.</span>
            </div>
            <div class="text-right">
                <a asp-page="/Privacy" class="btn btn-link">
                    <span>Learn More</span>
                </a>
                <span>|</span>
                <button type="button" class="cookie-consent-alert-dismiss btn btn-link" data-cookie-consent-string="@cookieString" data-dismiss="alert">
                    <span>Accept</span>
                </button>
            </div>
        </div>
    </div>
}
