@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="cookie-consent-alert fixed-bottom fade show bg-dark text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 py-3">
                    <span>This website uses cookies to keep you logged in between sessions, and nothing more.</span>
                </div>
                <div class="col-lg-6 py-3 d-flex flex-column">
                    <a asp-page="/PrivacyPolicy" class="btn btn-primary btn-block">
                        <span><i class="fas fa-info-circle"></i></span>
                        <span>Learn more</span>
                    </a>
                    <button type="button" class="cookie-consent-alert-dismiss btn btn-success btn-block" data-cookie-consent-string="@cookieString" data-toggle="collapse" data-target=".cookie-consent-alert">
                        <span><i class="fas fa-check-circle"></i></span>
                        <span>Accept</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
}
