@model List<Helpers.ViewModels.SearchFilterViewModel>

@if (Model.Any())
{
    <div class="d-flex flex-row flex-wrap mb-3">
        @foreach (var item in Model)
        {
            var color = item.Type == "SearchIn" ? "success" : item.Type == "Filter" ? "info" : item.Type == "All" ? "danger" : "dark";
            <a href="@item.Link" class="badge badge-pill badge-@color mx-2" title="Unapply filter">
                <span class="mr-2">@item.Text</span>
                <span class="ml-2"><i class="fas fa-times"></i></span>
            </a>
        }
    </div>
}
