@model Dictionary<string, string>

<div class="my-2 my-lg-0">
    @foreach (var item in Model)
    {
        <a href="@item.Value" class="badge badge-pill badge-warning" title="Unapply filter">
            <span class="mr-2">@item.Key</span>
            <span class="ml-2"><i class="fas fa-times"></i></span>
        </a>
    }
</div>
