@model string

@if (!string.IsNullOrEmpty(Model))
{
    var type = Model.Substring(0, Model.IndexOf(": "));
    var text = Model.Substring(Model.IndexOf(": ") + 1);
    var color = type == "Error" ? "danger" : type == "Success" ? "success" : "info";
    var icon = type == "Error" ? "exclamation-circle" : type == "Success" ? "check-circle" : "info-circle";
    <div class="alert alert-@color alert-dismissible text-wrap mb-3">
        <div>
            <span><i class="fas fa-@icon"></i></span>
            <span class="sr-only">@type!</span>
            <span>@text</span>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span><i class="fas fa-times"></i></span>
        </button>
    </div>
}
