@{
    Layout = "/Pages/Administration/Relationships/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Relationships/NodeCollectionDatabases/Index" class="breadcrumb-item"><span>Node collection databases</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
