@{
    Layout = "/Pages/Account/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Accounts/Manage/Index" class="breadcrumb-item"><span>Manage</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
