@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = "Password";
}

<form method="post" class="text-justify">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
    <div class="form-group">
        <label asp-for="Input.OldPassword" class="font-weight-bold">Old password</label>
        <input asp-for="Input.OldPassword" class="form-control" />
        <span asp-description-for="Input.OldPassword" class="text-muted small">The current password associated with your account.</span>
        <span asp-validation-for="Input.OldPassword" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.NewPassword" class="font-weight-bold">New password</label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-description-for="Input.NewPassword" class="text-muted small">The new password for your account.</span>
        <span asp-validation-for="Input.NewPassword" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Confirm password</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-description-for="Input.ConfirmPassword" class="text-muted small">The confirmation for the new password. It must be the same as the new password.</span>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
        <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
        <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
        <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
    </div>
    <button type="submit" title="Update" class="btn btn-block btn-primary">
        <span>Update</span>
    </button>
</form>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
