@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = "Password";
}

<div class="alert alert-info text-justify text-wrap">
    <span><i class="fas fa-info-circle"></i></span>
    <span>You do not have a local username and password for this site. Add a local account so you can authenticate without an external login.</span>
</div>
<form method="post" class="text-justify">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
    <div class="form-group">
        <label asp-for="Input.NewPassword" class="font-weight-bold">New password</label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-description-for="Input.NewPassword" class="text-muted small">The new password for your account.</span>
        <span asp-validation-for="Input.NewPassword" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Confirm password</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-description-for="Input.ConfirmPassword" class="text-muted small">The confirmation for the new password. It must be the same as the new password.</span>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
        <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
        <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
        <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
    </div>
    <button type="submit" title="Set" class="btn btn-block btn-success">
        <span>Set</span>
    </button>
</form>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
