@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
    var recoveryCodes = (IEnumerable<string>)TempData["RecoveryCodes"];
}

@if (recoveryCodes != null)
{
    <div class="alert alert-warning text-justify text-wrap">
        <span><i class="fas fa-info-circle"></i></span>
        <span><span class="font-weight-bold">These recovery codes will appear only once! Put these codes in a safe place.</span> If you lose your device and don't have the recovery codes you will lose access to your account.</span>
    </div>
    <ul class="list-group">
        @foreach (var recoveryCode in recoveryCodes)
        {
            <li class="list-group-item">
                <div>
                    <code>@recoveryCode</code>
                </div>
            </li>
        }
    </ul>
}
@if (Model.View.Is2faEnabled)
{
    <div class="alert alert-primary text-justify text-wrap">
        <span><i class="fas fa-info-circle"></i></span>
        <span>Manage authentication</span>
    </div>
    if (Model.View.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger text-justify text-wrap">
            <span><i class="fas fa-exclamation-circle"></i></span>
            <span class="font-weight-bold">You have no recovery codes left.</span>
            <span>You must <a asp-page="/Account/Manage/GenerateRecoveryCodes" class="alert-link">generate a new set of recovery codes</a> before you can log in with a recovery code.</span>
        </div>
    }
    else if (Model.View.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span class="font-weight-bold">You have @Model.View.RecoveryCodesLeft recovery code@(Model.View.RecoveryCodesLeft != 1 ? "s" : string.Empty) left.</span>
            <span>You should <a asp-page="/Account/Manage/GenerateRecoveryCodes" class="alert-link">generate a new set of recovery codes</a>.</span>
        </div>
    }
    if (Model.View.IsMachineRemembered)
    {
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <button type="submit" title="Forget this browser" class="btn btn-block btn-primary">
                <span>Forget this browser</span>
            </button>
        </form>
    }
    <a asp-page="/Account/Manage/DisableTwoFactorAuthentication" class="btn btn-block btn-danger">
        <span>Disable two-factor authentication</span>
    </a>
    <a asp-page="/Account/Manage/GenerateRecoveryCodes" class="btn btn-block btn-warning">
        <span>Reset recovery codes</span>
    </a>
}
<div class="alert alert-success text-justify text-wrap">
    <span><i class="fas fa-info-circle"></i></span>
    <span>Manage authenticator app</span>
</div>
@if (!Model.View.HasAuthenticator)
{
    <a asp-page="/Account/Manage/EnableAuthenticator" class="btn btn-block btn-success">
        <span>Add authenticator app</span>
    </a>
}
else
{
    <a asp-page="/Account/Manage/EnableAuthenticator" class="btn btn-block btn-success">
        <span>Setup authenticator app</span>
    </a>
    <a asp-page="/Account/Manage/ResetAuthenticator" class="btn btn-block btn-danger">
        <span>Reset authenticator app</span>
    </a>
}
