@{
    Layout = "/Pages/Content/Databases/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Databases/Databases/Index" class="breadcrumb-item"><span>Databases</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
