@page
@model IndexModel
@using NetControl4BioMed.Data.Enumerations
@{
    ViewData["Title"] = "Overview";
}

<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Available user data</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.IsUserAuthenticated)
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no networks associated with your account, as you are not logged in. You can click <a asp-page="/Content/DatabaseTypes/Generic/Created/Networks/Upload" class="alert-link">here</a> to upload a new generic network, <a asp-page="/Content/DatabaseTypes/PPI/Created/Networks/Upload" class="alert-link">here</a> to upload a new PPI network, or <a asp-page="/Content/DatabaseTypes/PPI/Created/Networks/Create" class="alert-link">here</a> to construct a new PPI network.</span>
            </div>
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no analyses associated with your account, as you are not logged in. You can click <a asp-page="/Content/DatabaseTypes/Generic/Created/Analyses/Create" asp-route-algorithm="@AnalysisAlgorithm.Greedy.ToString()" class="alert-link">here</a> to create a new generic analysis, or <a asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Create" asp-route-algorithm="@AnalysisAlgorithm.Greedy.ToString()" class="alert-link">here</a> to create a new PPI analysis.</span>
            </div>
        }
        else
        {
            var genericNetworkCount = Model.View.ItemCount.GetValueOrDefault("GenericNetworks", null) ?? 0;
            var genericAnalysisCount = Model.View.ItemCount.GetValueOrDefault("GenericAnalyses", null) ?? 0;
            var ppiNetworkCount = Model.View.ItemCount.GetValueOrDefault("PPINetworks", null) ?? 0;
            var ppiAnalysisCount = Model.View.ItemCount.GetValueOrDefault("PPIAnalyses", null) ?? 0;
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are @genericNetworkCount generic network@(genericNetworkCount != 1 ? "s" : string.Empty) and @genericAnalysisCount generic analys@(genericAnalysisCount != 1 ? "e" : "i")s associated with your account. You can click <a asp-page="/Content/DatabaseTypes/Generic/Created/Networks/Index" class="alert-link">here</a> to view the generic networks, or <a asp-page="/Content/DatabaseTypes/Generic/Created/Analyses/Index" class="alert-link">here</a> to view the generic analyses.</span>
            </div>
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are @ppiNetworkCount PPI network@(ppiNetworkCount != 1 ? "s" : string.Empty) and @ppiAnalysisCount PPI analys@(ppiAnalysisCount != 1 ? "e" : "i")s associated with your account. You can click <a asp-page="/Content/DatabaseTypes/PPI/Created/Networks/Index" class="alert-link">here</a> to view the PPI networks, or <a asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Index" class="alert-link">here</a> to view the PPI analyses.</span>
            </div>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-binoculars"></i></span>
            </div>
            <div>
                <span>Look up</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-primary text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>If you have the ID of a network or analysis, you can input it below to look it up. You need to have access to it (or it needs to be public) in order to be able to see it.</span>
        </div>
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="Input.Type" class="font-weight-bold">Type</label>
                <select asp-for="Input.Type" class="custom-select form-control">
                    <option value="Any">Any</option>
                    <option value="Networks">Network</option>
                    <option value="Analyses">Analysis</option>
                </select>
                <span asp-description-for="Input.Type" class="text-muted small">The type of the item to look up.</span>
                <span asp-validation-for="Input.Type" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Id" class="font-weight-bold">ID</label>
                <input asp-for="Input.Id" class="form-control" />
                <span asp-description-for="Input.Id" class="text-muted small">The ID of the item to look up.</span>
                <span asp-validation-for="Input.Id" class="text-danger small"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
                <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
                <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
                <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
            </div>
            <button type="submit" title="Look up" class="btn btn-block btn-primary">
                <span><i class="fas fa-binoculars"></i></span>
                <span>Look up</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
