@page
@model DownloadModel
@{
    ViewData["Title"] = "Download personal data";
}

@section Breadcrumbs {
    <a asp-page="/Accounts/Manage/PersonalData/Download" class="breadcrumb-item"><span>Download</span></a>
}

<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user-check"></i></span>
            </div>
            <div>
                <span>Download personal data</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify"></div>
            <div class="form-group" hidden>
                <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
                <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
                <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
                <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
            </div>
            <button type="submit" title="Download data" class="btn btn-block btn-primary">
                <span>Download data</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
