@page
@model IndexModel
@{
    ViewData["Title"] = "Personal data";
}

<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user-check"></i></span>
            </div>
            <div>
                <span>Download personal data</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>Your account contains personal data that you have given us. Click the button below to download that data.</span>
        </div>
        <a asp-page="/Account/Manage/PersonalData/Download" class="btn btn-block btn-primary" title="Download personal data">
            <span><i class="fas fa-user-check"></i></span>
            <span>Download</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user-times"></i></span>
            </div>
            <div>
                <span>Delete personal data</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-justify text-wrap">
            <span><i class="fas fa-exclamation-circle"></i></span>
            <span>Your account contains personal data that you have given us. Click the button below to delete that data. Deleting it will permanently remove your account, and this cannot be recovered.</span>
        </div>
        <a asp-page="/Account/Manage/PersonalData/Delete" class="btn btn-block btn-danger" title="Delete personal data">
            <span><i class="fas fa-user-times"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
