@{
    Layout = "/Pages/Account/Manage/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Account/Manage/TwoFactorAuthentication/Index" class="breadcrumb-item"><span>Two-factor authentication</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
