/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Style for all of the pages. */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

/* Style for the validation errors. */
.validation-summary-errors ul {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.input-validation-error {
    border-color: #dc3545;
}

/* Style for the tables. */
th, td {
    vertical-align: middle !important;
}

/* Style for the Cytoscape elements. */
.cytoscape-container {
    min-height: 25rem !important;
}

.cytoscape-color-default {
    color: lightgray;
}

.cytoscape-color-seed {
    color: tomato;
}

.cytoscape-color-source {
    color: lightpink;
}

.cytoscape-color-target {
    color: cornflowerblue;
}

.cytoscape-color-control {
    color: forestgreen;
}

.cytoscape-color-source-target {
    color: mediumpurple;
}

.cytoscape-color-source-control {
    color: deeppink;
}

.cytoscape-color-target-control {
    color: aquamarine;
}

.cytoscape-color-source-target-control {
    color: darkgoldenrod;
}
