@{
    Layout = "/Pages/Content/Created/Networks/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Created/Networks/Details/Index" class="breadcrumb-item"><span>Details</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@Helpers.ViewModels.NavigationAreaViewModel.GetNetworkNavigationArea(Model.View.Network)" />
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
