@{
    Layout = "/Pages/Content/Databases/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Databases/DatabaseNodeFields/Index" class="breadcrumb-item"><span>Database node fields</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
