@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row flex-lg-row-reverse">
        <div class="col-lg-4 my-2 my-lg-0 d-none d-lg-flex flex-column justify-content-center align-items-center">
            <span class="h4 text-danger"><i class="fas fa-exclamation-triangle fa-5x"></i></span>
        </div>
        <div class="col-lg-8 my-2 my-lg-0 d-flex flex-column justify-content-center">
            <div class="text-center text-lg-left">
                <div class="my-3">
                    <span class="h4">Access denied</span>
                </div>
                <div class="my-3">
                    <span>You do not have permission to access this page! You can try to log out and log in again (maybe with a different account?).</span>
                </div>
                <div class="my-3">
                    <div class="row">
                        <div class="col-lg-6 my-2 my-lg-0">
                            @if (Model.View.IsUserAuthenticated)
                            {
                                <form asp-page="/Logout" method="post" class="text-justify">
                                    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
                                    <button type="submit" title="Log out" class="btn btn-danger btn-block">
                                        <span><i class="fas fa-sign-out-alt"></i></span>
                                        <span>Log out</span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <a asp-page="/Index" class="btn btn-danger btn-block" title="Log in">
                                    <span><i class="fas fa-sign-in-alt"></i></span>
                                    <span>Log in</span>
                                </a>
                            }
                        </div>
                        <div class="col-lg-6 my-2 my-lg-0">
                            <a asp-page="/Index" class="btn btn-outline-dark btn-block" title="Home">
                                <span><i class="fas fa-home"></i></span>
                                <span>Home</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
