@page
@model LoginWithTwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Log in with two-factor authentication";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <div class="card shadow-sm my-3">
                <div class="card-header font-weight-bold">
                    <div class="d-flex flex-column flex-md-row-reverse justify-content-center align-items-center justify-content-md-between">
                        <div>
                            <span><i class="fas fa-mobile"></i></span>
                        </div>
                        <div>
                            <span>Log in with two-factor authentication</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-info text-wrap">
                        <span><i class="fas fa-info-circle"></i></span>
                        <span><span class="font-weight-bold">Your login is protected with an authenticator app.</span> Enter the authentication code below.</span>
                    </div>
                    <form method="post" asp-route-returnUrl="@Model.View.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group" hidden>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.TwoFactorCode" class="font-weight-bold">Authenticator code</label>
                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                            <span asp-description-for="Input.TwoFactorCode" class="text-muted small">The code given by your authenticator app.</span>
                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <div class="row align-items-center">
                                <div class="col-md-6 my-2 my-md-0 text-center text-md-left" hidden>
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="View.RememberMe" class="custom-control-input" />
                                        <label asp-for="View.RememberMe" class="custom-control-label">Remember me?</label>
                                    </div>
                                </div>
                                <div class="col-md-6 my-2 my-md-0 text-center text-md-right">
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="Input.RememberMachine" class="custom-control-input" />
                                        <label asp-for="Input.RememberMachine" class="custom-control-label">Remember this machine?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" title="Log in" class="btn btn-block btn-success">
                            <span>Log in</span>
                        </button>
                        <div class="text-muted small">
                            <span>Don't have access to your authenticator device? You can <a asp-page="/Account/LoginWithRecoveryCode" asp-route-returnUrl="@Model.View.ReturnUrl">log in with a recovery code</a>.</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
