@page
@model LoginWithGuestAccountModel
@{
    ViewData["Title"] = "Log in with external account";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">
                    <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                        <div>
                            <span><i class="fas fa-user-ninja"></i></span>
                        </div>
                        <div>
                            <span>Log in with guest account</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning text-justify text-wrap">
                        <span><i class="fas fa-exclamation-triangle"></i></span>
                        <span>You have requested to log in with a guest account. The account will be created automatically with random credentials. The account and all of the associated data will be deleted automatically when you log out or within 24 to 48 hours.</span>
                    </div>
                    <div class="alert alert-info text-justify text-wrap">
                        <span><i class="fas fa-info-circle"></i></span>
                        <span>While logged in with a guest account, you can use the web application just as with a regular account.</span>
                    </div>
                    <form method="post" asp-route-returnUrl="@Model.View.ReturnUrl" class="text-justify">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
                        <div class="form-group" hidden>
                            <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
                            <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
                            <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
                            <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
                        </div>
                        <button type="submit" title="Log in" class="btn btn-block btn-success">
                            <span>Log in</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
