@page
@model LoginWithExternalAccountModel
@{
    ViewData["Title"] = "Log in with external account";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bold">
                    <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                        <div>
                            <span><i class="fas fa-external-link-alt"></i></span>
                        </div>
                        <div>
                            <span>Log in with external account</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (Model.View.ExternalLogins.Any())
                    {
                        <form method="post" class="text-justify">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
                            <div class="form-group">
                                <label class="font-weight-bold">External login</label>
                                @foreach (var provider in Model.View.ExternalLogins)
                                {
                                    <button asp-page="/Identity/ExternalLogin" asp-route-provider="@provider.Name" asp-route-returnUrl="@Model.View.ReturnUrl" type="submit" title="Log in using your @provider.DisplayName account" class="btn btn-dark btn-block">
                                        <span><i class="fab fa-@provider.DisplayName.ToLower()"></i></span>
                                        <span>@provider.DisplayName</span>
                                    </button>
                                }
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-info text-justify text-wrap mb-0">
                            <span>There are no external login providers available.</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
