@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <div class="card shadow-sm my-3">
                <div class="card-header font-weight-bold">
                    <div class="d-flex flex-column flex-md-row-reverse justify-content-center align-items-center justify-content-md-between">
                        <div>
                            <span><i class="fas fa-lock-open"></i></span>
                        </div>
                        <div>
                            <span>Reset password</span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-route-code="@Model.View.Code">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="font-weight-bold">E-mail</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-description-for="Input.Email" class="text-muted small">The e-mail address to be associated with your account.</span>
                            <span asp-validation-for="Input.Email" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password" class="font-weight-bold">Password</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-description-for="Input.Password" class="text-muted small">The new password for your account.</span>
                            <span asp-validation-for="Input.Password" class="text-danger small"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Confirm password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-description-for="Input.Password" class="text-muted small">Confirm the new password for your account.</span>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
                        </div>
                        <button type="submit" title="Reset" class="btn btn-block btn-primary">
                            <span>Reset</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
