@{
    Layout = "/Pages/Content/Data/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Content/Data/NodeCollections/Index" class="breadcrumb-item"><span>Node collections</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
