@{
    Layout = "/Pages/Administration/_Layout.cshtml";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Accounts/Index" class="breadcrumb-item"><span>Accounts</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
